APP_NAME="BSS HRMS"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://hrms.bumisendangselaras.co.id

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=bsshrms
DB_USERNAME=bsshrms_user
DB_PASSWORD=

CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

FILESYSTEM_DISK=local

SANCTUM_STATEFUL_DOMAINS=hrms.bumisendangselaras.co.id
FRONTEND_URL=https://hrms.bumisendangselaras.co.id

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="noreply@bumisendangselaras.co.id"
MAIL_FROM_NAME="BSS HRMS"

FIREBASE_CREDENTIALS=/www/wwwroot/bsshrms/firebase-service-account.json
FACE_SERVICE_URL=http://localhost:3003
